.tweet.accordion-inner{ id: dom_id(tweet) }
  .row.container
    .span7
      = image_tag tweet.user.avatar_url.to_s, size: '100x100'
    .span7.content
      %div
        = link_to user_path(tweet.user) do
          @#{tweet.user.name}
      = tweet.content
      .image
        - if tweet.has_image?
          = image_tag tweet.image_url.to_s
  .accordion-body.collapse.in
    .accordion-inner
      = favorite_button tweet, current_user, content_tag(:p, "ふぁぼる", class: "btn btn-default"), content_tag(:p, "ふぁぼらない", class: "btn btn-default")
      - if tweet.user == current_user
        %a.btn.btn-default{href: edit_tweet_path(tweet), role: "button"} 編集するわ
        = link_to '削除じゃ', tweet_path(tweet), method: :delete, confirm: "よろしいですか？", class: "btn btn-default"

    .accordion-inner
      .row
        .span4.muted
          = tweet.created_at.strftime("%Y年%m月%d日 - %H:%M")
