.tweet.accordion-inner{ id: dom_id(tweet) }
  .row
    .span1
      = image_tag tweet.user.avatar_url.to_s, size: '60x60'
    .span7.content
      %div
        = link_to user_path(tweet.user) do
          @#{tweet.user.name}
      = tweet.content
      .image
        - if tweet.has_image?
          = image_tag tweet.image_url.to_s
  .accordion-body.collapse.in
    .accordion-inner
      = favorite_button tweet, current_user, content_tag(:i, nil, lass: "icon-star") + "お気に入りに登録", content_tag(:i, nil, class: "icon-star") + "お気に入り登録を解除"
      - if tweet.user == current_user
        = link_to "#" do
          %i.icon-pencil
          編集する
        = link_to tweet_path(tweet), method: :delete, confirm: "よろしいですか？" do
          %i.icon-remove
          削除する
    .accordion-inner
      .row
        .span1.fav
          %strong = tweet.favorites.size
          %br
          %small.muted お気に入り

        .span4.muted
          = tweet.created_at.strftime("%Y年%m月%d日 - %H:%M")
