<!DOCTYPE html>
<html>
<head>
  <title>Tsubuyaki3</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header container">
  <%= link_to "home", tweets_path %>
  <%= link_to "users", users_path %>
</div>

<div class="container">
  <%= yield %>
</div>

<hr>

<div class="footer container">
  <% if user_signed_in? %>
    <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
  <% end %>
</div>

</body>
</html>
